
<%- include("parts/header") %>

<div class="not-found">

    <p class="alert alert-danger m-auto">
        Page Not Found
        <a href="/friends">Back To Main Page</a>
    </p>
    


<%- include("parts/scripts") %>
</body>
</html>